<div>
  <div class="container">
    <h1>Welcome Home!! Heres your art work!</h1>
     <div class="row">
     <div class="col l3 s12 well" align="middle">
       <% @users.each do |user| %>
        <% if user.arts %>
          <% user.arts.each do |image| %>
            <img src="<%= image.photo.url(:medium) %>" alt="">
          <% end %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>