<%= form_tag "/arts", method: "post", multipart: true do  %>
<div>
      Name: <input type="text" name="form_photo_file_name">
      Image: <input type="file" name="form_photo_url">
      <input type="submit" value="submit">
</div>
<% end %>
 