<%= form_tag "/", method: "post", multipart: true do  %>
<div>
      Name: <input type="text" name="name">
</div>
    <div>
<% end %>

Image: <input type="file" name="photo">
 </div>
    <input type="submit" value="Upload Photo!">
<% @users.each do |user| %>
  <% if user.arts %>
    <% user.arts.each do |image| %>
      <img src="<%= image.photo_url(:medium) %>" alt="">
    <% end %>
  <% end %>
<% end %>