// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  padding-top: 70px;
  background-image: url('http://57tmall.com/data/out/3/5065745-yellow-backgrounds.jpg');
 }
div {
    overflow: scroll;
}