<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>CpastoneApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class="container">
  <body>
  <nav class="purple" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo white-text">Home</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/arts" class="white-text">Pick a Pic</a></li>
        <li><a href="/arts/draw" class="white-text">Draw a search</a></li>
      <!-- Dropdown Trigger -->
  <a class='dropdown-button btn'  style=" background-color: #9C27B0;" id="drop" href='#' data-activates='dropdown1' >Account</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' style="margin-left: 100px;" class='dropdown-content'>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li class="divider"></li>
  </ul>
  

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <%= yield %>

  <footer class="page-footer purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Art Starr Bio</h5>
          <p class="grey-text text-lighten-4">Here we make google search more fun then ever before!</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/derek-williams-2019/">Linkedin</a></li>
            <li><a class="white-text" href="https://in01001403.schoolwires.net/mhs">High School</a></li>
            <li><a class="white-text">247fear@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Derek J. Williams</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  </div>
  </body>
</html>
